:root {
  --blueDark: #234681;
  --blueDocspera: #0096fa;
  --blueLight: #daf0fb;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

p {
  font-size: 16px;
  max-width: 550px;
}

/* button {
  background-color: var(--blueDocspera);
  border: none;
  border-radius: 5px;
  filter: drop-shadow(0, 3px, 6px, black);
  color: white;
  padding: 10px 15px;
  font-size: 16px;
} */

* {
  box-sizing: border-box;
}

.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.case-study-section,
.blog-section {
  max-width: 1150px;
}

/*  Statistics styles on index.js, provider.js & medical-device.js */
.statistics {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  max-width: 1150px;
  margin: 0 auto;
}

.statistics > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
}

@media (max-width: 800px) {
  .statistics {
    flex-direction: column;
  }

  .statistics > div {
    margin-top: 50px;
    flex-grow: 1;
  }

  .statistics > div > div {
    width: 50%;
  }

  .statistics > div > div > img {
    width: 30%;
    height: auto;
  }

  .statistics > div > div > span {
    width: 70%;
  }
}
