:root {
  --blueDark: #234681;
  --blueDocspera: #0096fa;
  --blueSky: #b6e3f8;
  --blueLight: #daf0fb;
  --blueXLight: #eef7fc;
  --blueFaint: #f6fcff;
  --grayLight: #c9c9c9;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

@font-face {
  font-family: 'Varela Round', sans-serif;
  src: url('/website-gh/fonts/VarelaRound-Regular.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

p {
  font-size: 16px;
  margin-top: 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
  margin-bottom: 0;
}

@media (max-width: 800px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }
}

* {
  box-sizing: border-box;
}

.inner-div {
  margin: 0 auto;
  max-width: 1150px;
  padding: 100px 5vw 100px 5vw;
}

@media (max-width: 800px) {
  .inner-div {
    padding: 50px 5vw;
  }
}

.title {
  margin-bottom: 0;
  color: var(--blueDocspera);
}

.title-h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.case-study-section,
.blog-section {
  max-width: 1150px;
}

/*  Statistics styles on index.js, provider.js & medical-device.js */
.statistics {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  position: sticky;
  bottom: 10px;
  margin: 0 auto;
  margin-top: 10px;
}

.statistics > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  margin-top: 15px;
}

.statistics > div > div {
  width: 200px;
  background-color: white;
  box-shadow: Inset 0 0 1px 1px RGBa(255, 255, 255, 0.5), 0 1px 2px 2px RGBa(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
}

.title {
  color: var(--blueDocspera);
}

@media (max-width: 800px) {
  .statistics {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 20px;
  }

  .statistics > div {
    justify-content: center;
    margin-top: 20px;
    flex-grow: 1;
  }

  .statistics > div > div {
    margin-left: 10px;
    margin-right: 10px;
  }

  .statistics > div > div > span {
    width: 70%;
  }
}
